html {
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  display: flex;
  padding: 0;
  background-color: #7A419B;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg,#7c1599 0%,#921099 48%,#7e4ae8 100%);
  background-size: cover;
}
.player{
  position: relative;
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 0;
  overflow: hidden;
}
.player_button{
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}
.player_button:focus{
  border-color: #ffc600;
}
.player_slider{
  width: 10px;
  height: 30px;
}
.player_controls{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all .3s;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.1);
}
.player:hover .player_controls{
  transform: translateY(0);
}
.player:hover .progerss{
  height: 15px;
}
.player_controls{
  flex: 1;
}
.progress{
  position: relative;
  display: flex;
  flex: 10;
  flex-basis: 100%;
  height: 5px;
  transition: height .3s;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}
.progress_filled{
  width: 50%;
  background-color: #ffc600;
  flex: 0;
  flex-basis: 50%;
}
input[type=range]{
  -webkit-appearance:none;
  background: transparent;
  width: 100%;
  margin:0 5px;
}
input[type=range]:focus{
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0),0 0 1px rgba(13,13,13,0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border:0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0),0 0 0 rgba(13,13,13,0);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearence:none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
input[type=range]::-moz-range-track{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0),0 0 1px rgba(13,13,13,0);
  background: #ffffff;
  border-radius: 1.3px;
  border:0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0),0 0 0 rgba(13,13,13,0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #ffc600;
  cursor: pointer;
}
